body {
    background-image: url("Santa_image/santa1.jpg");
    margin-left: 50px;
}
body h1 {
	color: #ee55aa;
	font-size: 3em;
}
th {
	font-size : 20px;
	cursor: pointer;
}
th, td {
	padding: 8px;
    text-align: left;
}
tr:not(:first-child):hover {
	background-color: white;
	border-radius: 3px;

}
.radioList {
	margin-left : 80px;
	margin-bottom: 10px;
}
.xMarker {
	text-align: right;
	color: red;
	margin-right: 3px;
	float:right;
}
table {
	border: collapse;
	width: 35%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: #00BFFF;
    border: 1px solid red;
    font-size: 11px;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 35%;
    margin-left: -60px;
}

 .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#presentImg {
	position: absolute;
	top : 100px;
	right: 30px;
	width: 80px;
	cursor: pointer;
    transition: 0.3s;
}

#coalImg {
	position: absolute;
	top : 300px;
	right: 30px;
	width: 80px;
	cursor: pointer;
}

#curlyImg {
	position: absolute;
	top : 500px;
	right: 30px;
	width: 80px;
	cursor: pointer;
}

#shoppingCart , #coalBagDiv{
	position: absolute;
	top : 35%;
	right: 35%;
	width: 400px;
	border: 3px solid red;
	z-index: 1;
	border-radius: 8px;
	background-color: white;
}

.closeButton {
	float: right;
	padding : 5px;
	margin: 5px;
}

h2 {
	color: red;
	margin-left : 20px; 
}

p {
	margin-left : 20px; 
}
